<mat-toolbar class="custom-toolbar">
    <button mat-icon-button class="neumorphic-button" aria-label="Toggle Sidebar" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <img src="../../../assets/images/Logo.png" class="pt-2" alt="logo">
    <h4 class="nav-link px-5 fw-bold text-dark">{{ displayedText }}</h4>
    <span class="example-spacer"></span>
    <button mat-icon-button class="notification-icon d-none d-lg-flex" aria-label="Notification icon button">
        <mat-icon class="text-dark">speaker_notes</mat-icon>
      </button>
      <button mat-icon-button class="notification-icon d-none d-lg-flex" aria-label="Notification icon button">
        <mat-icon class="text-dark">calendar_month</mat-icon>
      </button>
      <button mat-icon-button class="notification-icon d-none d-lg-flex" aria-label="Notification icon button">
        <mat-icon class="text-dark">notifications</mat-icon>
      </button>
    <div class="user-info-container d-none d-lg-flex">
        <div class="user-info">
          <img src="../../../assets/images/avatar.png" alt="User Photo" class="user-photo" />
          <div class="user-details">
            <h3>احمد سليمان</h3>
            <p>معلم</p>
          </div>
          <button mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon>expand_more</mat-icon>
          </button>

        </div>
      </div>
    

  </mat-toolbar>

