<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
    <ul class="pt-5">
      
      <li>
        <a routerLink="/students/subjects" routerLinkActive="active">
          <span class="menu-icon material-icons">subject</span>
          <span class="menu-text">الرئيسيه</span>
        </a>
      </li>
      <li>
        <a routerLink="/students/all-exercises" routerLinkActive="active">
          <span class="menu-icon material-icons">format_list_bulleted</span>
          <span class="menu-text">كل التمارين</span>
        </a>
      </li>
      
      <li class="logout-item">
        <a class="logout-text" routerLink="/settings" routerLinkActive="active">
          <span class="menu-icon material-icons">logout</span>
          <span >تسجيل الخروج</span>
        </a>
      </li>
    </ul>
  </div> 