<div class="app-header" >
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <app-sidebar></app-sidebar>
  </div>
  
   <div class="content" [ngClass]="isSidebarVisible ? 'with-sidebar' : 'without-sidebar'">
    <div class="row mb-4">
        <div class="col-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link text-pink" routerLink="/students/subjects">المواد الدراسيه</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-pink" routerLink="/students/all-exercises">كل التمارين</a>
            </li>
          </ul>
        </div>
      </div>
    <router-outlet></router-outlet>
    
  </div>
